:root {
  --el-color-primary: #00a1d6;
  --el-color-primary-light-3: #33b5e0;
  --el-color-primary-light-5: #66c9ea;
  --el-color-primary-light-7: #99ddf3;
  --el-color-primary-light-9: #ccf0f9;
  --el-color-primary-dark-2: #0081ab;

  --el-color-success: #4caf50;
  --el-color-warning: #ff9800;
  --el-color-danger: #f44336;

  --el-border-radius-base: 4px;
  --el-border-radius-round: 8px;
}
